<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="./css/Style.css">
</head>
<body style="background-color: darkcyan;">

    <%- include ('partials/navbar') %>

    <h1 style="color: aliceblue; text-align: center; padding: 3%;"><b>¡¡Bienvenido al Home!!</b></h1>
    <p style="text-align: center;">¿Quieres ver gatitos? :)</p>
    <p style="text-align: center;"><b>TODOS</b> quieren ver gatitos >:)</p>

    <section>
        <img src="./img/gatito5.jpg" alt="g1">
        <article>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </article>
    </section>


    
</body>
</html>