<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="../public/css/Style.css">
</head>
<body>
    <h1>Hola, estas en el home</h1>

    <%- include ('partials/navbar') %>
    
</body>
</html>