<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Hola, estas en el registro</h1>
    <%- include ('partials/navbar') %>
</body>
</html>